@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 1000px;
}

.home
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.jpg);
    background-size: cover;
}

.home-content
{
    max-width: 900px;
    text-align: center;
}

.home-content h2
{
    font-size: 5em;
    color: #fff;
}

.home-content p
{
    font-size: 1em;
    color: #fff;
}

.btn
{
    font-size: 1em;
    color: #fff;
    background: orange;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover
{
    letter-spacing: 6px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

header.sticky
{
    background: rgb(255, 255, 255);
    padding: 0 100px;
    box-shadow: 0 5px 20px rgb(0,0,0,0.05);
}

header.sticky ul li a{
    color: black;
}

header.sticky img{
    filter: brightness(1) invert(0);
}
header img{
    height: 75px;
    filter: brightness(0) invert(1);
}
header ul{
    display: flex;
    position: relative;
    
}

header ul li{
    margin: 20px;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 18px;
    font-weight: 500;
}

header ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;

}

header.sticky ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: #000000;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before
{
    transform: scaleX(1);
    transform-origin: left;
}

.btn-home{
    color: orange;
    background-color: white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.product{
    padding: 100px;
}

.product-heading
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product .content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
}
.product .content .card{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgb(0,0,0,0.08);
}

.product .content .card .imgBx{
    width: 100%;
    height: 300px;
}

.product .content .card .imgBx img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .content .card .text
{
    padding: 15px 0 5px;
}

.product .content .card .text h3
{
    font-weight: 400;
    color: #111;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials
{
    background: url(bg2.jpg);
    background-size: cover;
}

.white .titleText,
.white p
{
    color: #fff;
}

.testimonials .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text
{
    text-align: center;
}

.testimonials .content .box .text p
{
    color: #666;
    font-style: italic;
}

.testimonials .content .box .text h3
{
    margin-top: 20px;
    font-size: 1em;
    color: orange;
    font-weight: 600;
}

.about{
    padding: 100px;
}

.about-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-content .col50{
    position: relative;
    width: 48%;
}

.titleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span
{
    color: orange;
    font-weight: 700;
    font-size: 1.5em;
}

.about-content .col50 .right
{
    position: relative;
    width: 100%;
    height: 100%;
}

.about-content .col50 .right img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials{
    padding: 100px;
}

.contact
{
    padding: 100px;
    background: url(bg3.jpg);
    background-size: cover;
}

.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactForm h3
{
    
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: orange;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

footer 
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

footer p
{
    color: #333;
}

footer a
{
    color: orange;
    font-weight: 500;
    text-decoration: none;
}